@tailwind base;

@tailwind components;

@tailwind utilities;

.rino-mobile-menu {
    position: absolute;
    transition: opacity 200ms ease, transform 200ms ease;
    will-change: opacity, transform;
}
.rino-mobile-menu-show {
    opacity: 1;
    transform: scale(1);
}
.rino-mobile-menu-hide {
    opacity: 0;
    transform: scale(0.95);
}