# In GitHub Actions environment, when running `yarn install`, an warning like following will raise.
#
# re2@npm:1.15.9 STDERR npm WARN lifecycle The node binary used for scripts is /tmp/xfs-c5ac14f8/node but npm is using /opt/hostedtoolcache/node/14.15.1/x64/bin/node itself. Use the `--scripts-prepend-node-path` option to include the path for the node binary npm was executed with.
#
# This warning can be fixed by adding `scripts-prepend-node-path=true` in `.npmrc`.
scripts-prepend-node-path=true
