version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/rino
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: |
          yarn run test
          yarn run build --no-source-maps
          yarn run coverage
          yarn run lint
      - run: |
          git config --global user.email "ci@circleci.com"
          git config --global user.name "circleci"
      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            git clone -q ${DEPLOY_REPO_URL} ~/deploy
            cd ~/deploy
            rm -rf ./*
            cp -r ~/rino/public/* ~/deploy
            cp -r ~/rino/dist/* ~/deploy
            echo "<!-- $(date '+%Y-%m-%d %H:%M:%S %z') -->" >> ~/deploy/index.html
            git add --all
            git commit -m update
            git push -q
          fi
