version: 2.1

workflows:
  version: 2
  main_workflows:
    jobs:
      - test
      - build
      - deploy:
          requires:
            - test
            - build

executors:
  node-executor:
    docker:
      - image: circleci/node:10-stretch-browsers

commands:
  install:
    steps:
      - checkout
      - restore_cache:
          key: &cache_key v8-dependencies-{{ checksum "yarn.lock" }}
      - run: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: *cache_key

jobs:
  test:
    executor: node-executor
    steps:
      - install
      - run: echo ${DEV_CONFIG_FIREBASE} > ./config/firebase.json
      - run: echo ${DEV_CONFIG_ENV} > ./config/env.json
      - run: yarn run lint
      - run: |
          yarn run dev &
          ./scripts/wait-server.sh http://localhost:1234
          yarn run test --coverage --maxWorkers 1 # To avoid 'not enough memory' error
          yarn run coverage
  build:
    executor: node-executor
    steps:
      - install
      - run: echo ${PROD_CONFIG_FIREBASE} > ./config/firebase.json
      - run: echo ${PROD_CONFIG_ENV} > ./config/env.json
      - run: yarn run build --no-source-maps
      - run: |
          mkdir -p /tmp/deploy
          cp -r ./public/* /tmp/deploy
          cp -r ./dist/* /tmp/deploy
          echo "<!-- $(date '+%Y-%m-%d %H:%M:%S %z') -->" >> /tmp/deploy/index.html
          cp /tmp/deploy/index.html /tmp/deploy/404.html
      - persist_to_workspace:
          root: /tmp/deploy
          paths:
            - .
  deploy:
    executor: node-executor
    steps:
      - attach_workspace:
          at: /tmp/deploy
      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            git config --global user.email "ci@circleci.com"
            git config --global user.name "circleci"
            git clone -q ${DEPLOY_REPO_URL} ~/deploy
            cd ~/deploy
            rm -rf ./*
            cp -r /tmp/deploy/* ~/deploy
            git add --all
            git commit -m update
            git push -q
          fi
