version: 2.1

workflows:
  version: 2
  main_workflow:
    jobs:
      - test:
          # `filters` is required since `deploy` has tag filters AND requires `test`
          filters: &default_filters
            tags:
              only: /.*/
            branches:
              only: /.*/
      - build:
          filters: *default_filters
      - lint:
          filters: *default_filters
      - release_check:
          filters: &release_filters
            tags:
              only: /^v\d+\.\d+\.\d+.*/
            branches:
              ignore: /.*/
      - deploy_netlify_prod:
          filters: *release_filters
          requires: [test, build, lint, release_check]
      - deploy_firebase_prod:
          filters: *release_filters
          requires: [test, build, lint, release_check]

executors:
  node-executor:
    docker:
      - image: circleci/node:12-stretch-browsers
    environment:
      NEXT_TELEMETRY_DISABLED: "1"

commands:
  prepare:
    steps:
      - checkout
      - restore_cache:
          key: &cache_key v0-dependencies-{{ checksum "yarn.lock" }}
      # Only install dependencies if the cache is failed to restore
      - run: |
          if [ ! -d "./node_modules" ]; then
            yarn install --frozen-lockfile
          fi

  upload_cache:
    steps:
      - save_cache:
          paths:
            - node_modules
            - .next/cache # https://err.sh/next.js/no-cache
          key: *cache_key

jobs:
  lint:
    executor: node-executor
    steps:
      - prepare
      - run: yarn run lint

  test:
    executor: node-executor
    steps:
      - prepare
      - run: |
          echo ${FIREBASE_CLIENT_JSON} > ./config/firebase.client.json
      - run: |
          export REACT_APP_TESTING=1
          yarn build
          yarn export
      - run: |
          ./scripts/http-server.js > /dev/null &
          yarn run test --coverage
      - run: |
          yarn run coverage

  build:
    executor: node-executor
    steps:
      - prepare
      - run: |
          echo ${FIREBASE_CLIENT_JSON} > ./config/firebase.client.json
      - run: |
          yarn run build
          yarn run export
      - persist_to_workspace:
          root: ./dist
          paths:
            - .
      - upload_cache

  release_check:
    docker:
      - image: python:3.7-stretch
    steps:
      - checkout
      - run: |
          ./scripts/verify-version.py

  deploy_netlify_test:
    executor: node-executor
    environment:
      EXTRA_NETLIFY_ARGS: ""
    steps: &deploy_netlify_steps
      - prepare
      - attach_workspace:
          at: ./dist
      - run: |
          message="Deployment from Circle CI. Ref: $(git rev-parse --abbrev-ref HEAD). Commit: $(git rev-parse --short HEAD)."
          command="yarn netlify deploy --dir ./dist --message '$message' $EXTRA_NETLIFY_ARGS"
          echo $command
          bash -c "$command"

  deploy_netlify_prod:
    executor: node-executor
    environment:
      EXTRA_NETLIFY_ARGS: "--prod"
    steps: *deploy_netlify_steps

  deploy_firebase_prod:
    executor: node-executor
    steps:
      - prepare
      - attach_workspace:
          at: ./dist
      - run: |
          echo ${FIREBASE_CLIENT_JSON} > ./config/firebase.client.json
          export FIREBASE_PROJECT_ID=$(node -e 'console.log(require("./config/firebase.client.json").projectId)')
          yarn firebase use --add $FIREBASE_PROJECT_ID
          yarn firebase deploy
