version: 2.1

workflows:
  version: 2
  main_workflow:
    jobs:
      - build:
          # `filters` is required since `deploy` has tag filters AND requires `test`
          filters: &default_filters
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test:
          filters: *default_filters
      - lint:
          filters: *default_filters
      - release_check:
          filters: &release_filters
            tags:
              only: /^v\d+\.\d+\.\d+.*/
            branches:
              ignore: /.*/
      # Deploy to Firebase hosting (https://rino.app) only when a new version is released.
      - deploy_firebase_prod:
          filters: *release_filters
          requires: [test, build, lint, release_check]
      # Deploy to Netlify (https://netlify.rino.app) for master branch.
      - deploy_netlify_prod:
          filters:
            branches:
              only: master
          requires: [test, build, lint]
      # Deploy to Netlify draft (https://xxxxxxxxxxxxxxxxx--rino.netlify.com) for all branchs.
      - deploy_netlify_test:
          requires: [build]
          filters: *default_filters

executors:
  node-executor:
    docker:
      - image: circleci/node:12-stretch-browsers
    environment:
      NEXT_TELEMETRY_DISABLED: "1"

commands:
  prepare:
    steps:
      - checkout
      - restore_cache:
          key: &cache_key v4-dependencies-{{ checksum "yarn.lock" }}
      # Only install dependencies if the cache is failed to restore
      - run:
          name: prepare dependencies
          command: |
            if [ ! -d "./node_modules" ]; then
              yarn install --frozen-lockfile
              yarn firebase setup:emulators:firestore
              yarn firebase setup:emulators:database
            fi
      - run:
          name: check firebase emulators
          command: |
            ls -lrth ~/.cache/firebase/emulators/
  upload_cache:
    steps:
      - save_cache:
          paths:
            - node_modules
            - .next/cache # https://err.sh/next.js/no-cache
            - ~/.cache/firebase
          key: *cache_key
  config_firebase:
    steps:
      - run:
          name: add firebase config file
          command: |
            echo ${FIREBASE_CLIENT_JSON} > ./config/firebase.client.json
      - run:
          name: set firebase project
          command: |
            export FIREBASE_PROJECT_ID=$(scripts/simple_jq.js ./config/firebase.client.json .projectId)
            yarn firebase use --add $FIREBASE_PROJECT_ID

jobs:
  lint:
    executor: node-executor
    steps:
      - prepare
      - run: yarn run lint

  test:
    executor: node-executor
    steps:
      - prepare
      - config_firebase
      - run:
          name: build static files
          command: |
            export REACT_APP_TESTING=1
            export FIREBASE_DATABASE_EMULATOR_HOST="localhost:$(scripts/simple_jq.js ./firebase.json .emulators.database.port)"
            export FIRESTORE_EMULATOR_HOST="localhost:$(scripts/simple_jq.js ./firebase.json .emulators.firestore.port)"
            echo "firebase environment variables:" $FIREBASE_DATABASE_EMULATOR_HOST $FIRESTORE_EMULATOR_HOST
            yarn build
            yarn export
      - run:
          name: run tests
          command: |
            yarn firebase emulators:exec "
              ./scripts/http-server.js > /dev/null &
              scripts/test.sh --coverage
            "
      - run: |
          yarn run coverage

  build:
    executor: node-executor
    steps:
      - prepare
      - config_firebase
      - run: |
          yarn run build
          yarn run export
      - persist_to_workspace:
          root: ./dist
          paths:
            - .
      - upload_cache

  release_check:
    docker:
      - image: python:3.7-stretch
    steps:
      - checkout
      - run: |
          ./scripts/verify-version.py

  deploy_netlify_test:
    executor: node-executor
    steps:
      - prepare
      - attach_workspace:
          at: ./dist
      - run: |
          echo '<!-- Netlify -->' >> ./dist/index.html
          echo '<!-- Netlify -->' >> ./dist/404.html
      - run: |
          message="Deployment from Circle CI. Ref: $(git rev-parse --abbrev-ref HEAD). Commit: $(git rev-parse --short HEAD)."
          command="./node_modules/.bin/netlify deploy --json --message '$message'"
          echo $command
          bash -c "$command" > /tmp/deploy.json
          cat /tmp/deploy.json
      - run: |
          export DEPLOY_JSON="$(cat /tmp/deploy.json)"
          export DEPLOY_URL="$(node -e 'console.log(JSON.parse(process.env.DEPLOY_JSON).deploy_url)')"
          mkdir -p lighthouse
          yarn lighthouse --output json --output html --output-path ./lighthouse/lighthouse $DEPLOY_URL
      - store_artifacts:
          path: ./lighthouse

  deploy_netlify_prod:
    executor: node-executor
    environment:
      EXTRA_NETLIFY_ARGS: "--prod"
    steps:
      - prepare
      - attach_workspace:
          at: ./dist
      - run: |
          echo '<!-- Netlify -->' >> ./dist/index.html
          echo '<!-- Netlify -->' >> ./dist/404.html
      - run: |
          message="Deployment from Circle CI. Ref: $(git rev-parse --abbrev-ref HEAD). Commit: $(git rev-parse --short HEAD)."
          command="./node_modules/.bin/netlify deploy --json --message '$message' --prod"
          echo $command
          bash -c "$command"

  deploy_firebase_prod:
    executor: node-executor
    steps:
      - prepare
      - attach_workspace:
          at: ./dist
      - run: |
          echo '<!-- Firebase hosting -->' >> ./dist/index.html
          echo '<!-- Firebase hosting -->' >> ./dist/404.html
      - config_firebase
      - run: |
          yarn firebase deploy
