.markdown-body a {
    cursor: pointer
}
.markdown-body .decoration_mark {
    color: darkmagenta;
}
.markdown-body .decoration_image_text {
    color: green;
}
.markdown-body .decoration_image_url {
    color: dodgerblue;
}
.markdown-body .decoration_emphasis_single_text {
    font-style: italic;
}
.markdown-body .decoration_emphasis_double_text {
    font-weight: 700;
}
.markdown-body .decoration_link_text {
    color: cadetblue;
}
.markdown-body .decoration_link_url {
    color: dodgerblue;
}
.markdown-body .decoration_delete {
    color: gray;
    text-decoration-line: line-through;
    text-decoration-color: black;
}
.markdown-body .decoration_code_text {
    border-radius: 3px;
    padding: .2em .4em;
}

.markdown-body--light .decoration_code_text {
    background-color: rgba(27, 31, 35, .05);
    color: #24292e;
}

.markdown-body--dark .decoration_code_text {
    background-color: rgba(27, 31, 35, 0.712);
    color: #d2e5f8;
}

.markdown-body table tr:nth-child(1) {
    font-weight: 700;
}
