#__next-build-watcher {
    /* Hide Next.js reloading icon in the right bottom corner */
    display: none;
}

.red {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

/* .markdown-body .show {
    border: 2px rgba(0, 0, 255, 0.2) solid;
} */
