{
  "name": "main",
  "on": "push",
  "env": {
    "NEXT_TELEMETRY_DISABLED": 1
  },
  "jobs": {
    "Build": {
      "runs-on": "ubuntu-18.04",
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "name": "Configrate firebase",
          "env": {
            "FIREBASE_CLIENT_JSON": "${{ secrets.FIREBASE_CLIENT_JSON }}",
            "FIREBASE_TOKEN": "${{ secrets.FIREBASE_TOKEN }}"
          },
          "run": "echo \"${FIREBASE_CLIENT_JSON}\" > ./packages/web/config/firebase.client.json\nexport FIREBASE_PROJECT_ID=$(scripts/simple_jq.js ./packages/web/config/firebase.client.json .projectId)\nyarn run web firebase use --add $FIREBASE_PROJECT_ID\n"
        },
        {
          "name": "Build",
          "run": "yarn run build:all\n"
        },
        {
          "name": "Upload dist (web)",
          "uses": "actions/upload-artifact@v2",
          "with": {
            "name": "web_dist",
            "path": "./packages/web/dist"
          }
        },
        {
          "name": "Upload dist (home)",
          "uses": "actions/upload-artifact@v2",
          "with": {
            "name": "home_dist",
            "path": "./packages/home/dist"
          }
        }
      ]
    },
    "Test": {
      "runs-on": "ubuntu-18.04",
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "name": "Configrate firebase",
          "env": {
            "FIREBASE_CLIENT_JSON": "${{ secrets.FIREBASE_CLIENT_JSON }}",
            "FIREBASE_TOKEN": "${{ secrets.FIREBASE_TOKEN }}"
          },
          "run": "echo \"${FIREBASE_CLIENT_JSON}\" > ./packages/web/config/firebase.client.json\nexport FIREBASE_PROJECT_ID=$(scripts/simple_jq.js ./packages/web/config/firebase.client.json .projectId)\nyarn run web firebase use --add $FIREBASE_PROJECT_ID\n"
        },
        {
          "name": "Build static files",
          "env": {
            "REACT_APP_TEST_USERNAME": "${{ secrets.REACT_APP_TEST_USERNAME }}",
            "REACT_APP_TEST_PASSWORD": "${{ secrets.REACT_APP_TEST_PASSWORD }}",
            "REACT_APP_TESTING": 1
          },
          "run": "export FIREBASE_DATABASE_EMULATOR_HOST=\"localhost:$(scripts/simple_jq.js ./packages/web/firebase.json .emulators.database.port)\"\nexport FIRESTORE_EMULATOR_HOST=\"localhost:$(scripts/simple_jq.js ./packages/web/firebase.json .emulators.firestore.port)\"\necho \"firebase environment variables:\" $FIREBASE_DATABASE_EMULATOR_HOST $FIRESTORE_EMULATOR_HOST\nyarn run build:all\n"
        },
        {
          "name": "Run tests",
          "env": {
            "FIREBASE_TOKEN": "${{ secrets.FIREBASE_TOKEN }}",
            "REACT_APP_TEST_USERNAME": "${{ secrets.REACT_APP_TEST_USERNAME }}",
            "REACT_APP_TEST_PASSWORD": "${{ secrets.REACT_APP_TEST_PASSWORD }}"
          },
          "run": "./node_modules/.bin/firebase emulators:exec --only firestore \"\n  yarn run web start > /dev/null &\n  yarn run test --coverage\n\"\n"
        },
        {
          "name": "Upload coverage information to codecov",
          "uses": "codecov/codecov-action@v1",
          "with": {
            "file": "./coverage/coverage-final.json",
            "fail_ci_if_error": "${{ github.ref != 'refs/heads/master' }}"
          }
        }
      ]
    },
    "Lint": {
      "runs-on": "ubuntu-18.04",
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "name": "Check files",
          "run": "ls ./packages/**/dist/"
        },
        {
          "name": "Lint",
          "run": "yarn run lint ."
        },
        {
          "name": "Check actions configration",
          "run": "hash1=$(sha1sum .github/workflows/main.yml)\n./node_modules/.bin/js-yaml .github/temp/main.yml > .github/workflows/main.yml\nhash2=$(sha1sum .github/workflows/main.yml)\necho \"$hash1\" \"$hash2\"\nif [ \"$hash1\" != \"$hash2\" ]; then exit 1; fi\n"
        }
      ]
    },
    "Preview": {
      "runs-on": "ubuntu-18.04",
      "needs": [
        "Build"
      ],
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "name": "Download dist (web)",
          "uses": "actions/download-artifact@v2",
          "with": {
            "name": "web_dist",
            "path": "./packages/web/dist"
          }
        },
        {
          "name": "Download dist (home)",
          "uses": "actions/download-artifact@v2",
          "with": {
            "name": "home_dist",
            "path": "./packages/home/dist"
          }
        },
        {
          "id": "step_branch",
          "name": "Get the branch name",
          "run": "echo \"::set-output name=branch::$(node scripts/slugify-branch.js)\"\n"
        },
        {
          "name": "Deploy @rino.app/home to Vercel",
          "uses": "amondnet/vercel-action@d4e0a9f55bfc7ee4d87dd69541f2c93c8e4e8ae6",
          "with": {
            "github-comment": false,
            "vercel-token": "${{ secrets.VERCEL_TOKEN }}",
            "github-token": "${{ secrets.GITHUB_TOKEN }}",
            "vercel-org-id": "${{ secrets.VERCEL_ORG_ID }}",
            "vercel-project-id": "${{ secrets.VERCEL_PROJECT_ID_HOME }}",
            "alias-domains": "rino-home-${{ steps.step_branch.outputs.branch }}.ocavue.vercel.app",
            "vercel-args": "--meta TYPE=PREVIEW",
            "working-directory": "./packages/home/"
          }
        },
        {
          "name": "Deploy @rino.app/web to Vercel",
          "uses": "amondnet/vercel-action@d4e0a9f55bfc7ee4d87dd69541f2c93c8e4e8ae6",
          "with": {
            "github-comment": false,
            "vercel-token": "${{ secrets.VERCEL_TOKEN }}",
            "github-token": "${{ secrets.GITHUB_TOKEN }}",
            "vercel-org-id": "${{ secrets.VERCEL_ORG_ID }}",
            "vercel-project-id": "${{ secrets.VERCEL_PROJECT_ID_WEB }}",
            "alias-domains": "rino-web-${{ steps.step_branch.outputs.branch }}.ocavue.vercel.app",
            "vercel-args": "--meta TYPE=PREVIEW",
            "working-directory": "./packages/web/"
          }
        },
        {
          "name": "Generate configrations for Lighthouse CI",
          "run": "node scripts/generate-lighthouserc.js"
        },
        {
          "name": "Run lighthouse",
          "env": {
            "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}",
            "LHCI_GITHUB_APP_TOKEN": "${{ secrets.LHCI_GITHUB_APP_TOKEN }}"
          },
          "run": "yarn run lhci autorun --config .lighthouserc.web.json\nyarn run lhci autorun --config .lighthouserc.home.json\n"
        }
      ]
    },
    "Changesets": {
      "runs-on": "ubuntu-18.04",
      "needs": [
        "Build",
        "Test",
        "Lint",
        "Preview"
      ],
      "if": "github.ref == 'refs/heads/master'",
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "id": "step_changesets",
          "name": "Create release pull request or publish to npm",
          "uses": "changesets/action@master",
          "with": {
            "publish": "yarn run changeset publish",
            "commit": "chore(changesets): release a new version",
            "title": "chore(changesets): release a new version"
          },
          "env": {
            "GITHUB_TOKEN": "${{ secrets.GITHUB_TOKEN }}",
            "NPM_TOKEN": "${{ secrets.NPM_TOKEN }}"
          }
        },
        {
          "name": "Print outputs for debug",
          "run": "echo \"changeset_outputs_published: [$changeset_outputs_published]\"\n",
          "env": {
            "changeset_outputs_published": "${{ steps.step_changesets.outputs.published }}"
          }
        }
      ],
      "outputs": {
        "published": "${{ steps.step_changesets.outputs.published }}"
      }
    },
    "Deployment": {
      "runs-on": "ubuntu-18.04",
      "needs": [
        "Changesets"
      ],
      "if": "github.ref == 'refs/heads/master' && ( needs.Changesets.outputs.published == 'true' || contains(github.event.head_commit.message, '[force-deploy]') )",
      "steps": [
        {
          "name": "Checkout code repository",
          "uses": "actions/checkout@v2"
        },
        {
          "name": "Setup node.js",
          "uses": "actions/setup-node@v1",
          "with": {
            "node-version": 14
          }
        },
        {
          "id": "step_cache_deps",
          "name": "Cache dependencies",
          "uses": "actions/cache@master",
          "with": {
            "path": "node_modules\n*/*/node_modules\n~/.cache/firebase\n.yarn/cache\n",
            "key": "${{ runner.os }}-deps-v5-${{ hashFiles('yarn.lock') }}"
          }
        },
        {
          "name": "Install Dependencies",
          "run": "date\nyarn install --immutable\ndate\necho \"[DEBUG] CACHE_HIT: $CACHE_HIT\"\nif [ \"$CACHE_HIT\" != \"true\" ]\nthen\n  echo \"[DEBUG] installing\"\n  yarn run web firebase setup:emulators:firestore\nfi\nls -lrth ~/.cache/firebase/emulators/\n",
          "env": {
            "CACHE_HIT": "${{ steps.step_cache_deps.outputs.cache-hit }}"
          }
        },
        {
          "name": "Download dist (web)",
          "uses": "actions/download-artifact@v2",
          "with": {
            "name": "web_dist",
            "path": "./packages/web/dist"
          }
        },
        {
          "name": "Download dist (home)",
          "uses": "actions/download-artifact@v2",
          "with": {
            "name": "home_dist",
            "path": "./packages/home/dist"
          }
        },
        {
          "name": "Configrate firebase",
          "env": {
            "FIREBASE_CLIENT_JSON": "${{ secrets.FIREBASE_CLIENT_JSON }}",
            "FIREBASE_TOKEN": "${{ secrets.FIREBASE_TOKEN }}"
          },
          "run": "echo \"${FIREBASE_CLIENT_JSON}\" > ./packages/web/config/firebase.client.json\nexport FIREBASE_PROJECT_ID=$(scripts/simple_jq.js ./packages/web/config/firebase.client.json .projectId)\nyarn run web firebase use --add $FIREBASE_PROJECT_ID\n"
        },
        {
          "name": "Deploy @rino.app/web to Firebase",
          "env": {
            "FIREBASE_TOKEN": "${{ secrets.FIREBASE_TOKEN }}"
          },
          "run": "yarn run web firebase deploy\n"
        },
        {
          "name": "Deploy @rino.app/home to Vercel",
          "uses": "amondnet/vercel-action@d4e0a9f55bfc7ee4d87dd69541f2c93c8e4e8ae6",
          "with": {
            "github-comment": false,
            "vercel-token": "${{ secrets.VERCEL_TOKEN }}",
            "github-token": "${{ secrets.GITHUB_TOKEN }}",
            "vercel-org-id": "${{ secrets.VERCEL_ORG_ID }}",
            "vercel-project-id": "${{ secrets.VERCEL_PROJECT_ID_HOME }}",
            "alias-domains": "rino-home-master.ocavue.vercel.app",
            "vercel-args": "--prod --meta TYPE=PRODUCTION",
            "working-directory": "./packages/home/"
          }
        },
        {
          "name": "Deploy @rino.app/web to Vercel",
          "uses": "amondnet/vercel-action@d4e0a9f55bfc7ee4d87dd69541f2c93c8e4e8ae6",
          "with": {
            "github-comment": false,
            "vercel-token": "${{ secrets.VERCEL_TOKEN }}",
            "github-token": "${{ secrets.GITHUB_TOKEN }}",
            "vercel-org-id": "${{ secrets.VERCEL_ORG_ID }}",
            "vercel-project-id": "${{ secrets.VERCEL_PROJECT_ID_WEB }}",
            "alias-domains": "rino-web-master.ocavue.vercel.app",
            "vercel-args": "--prod --meta TYPE=PRODUCTION",
            "working-directory": "./packages/web/"
          }
        },
        {
          "name": "Prepare HTML files",
          "run": "bash ./scripts/prepare-server-files.sh"
        },
        {
          "name": "Deploy @rino.app/server to Vercel",
          "uses": "amondnet/vercel-action@d4e0a9f55bfc7ee4d87dd69541f2c93c8e4e8ae6",
          "with": {
            "github-comment": false,
            "vercel-token": "${{ secrets.VERCEL_TOKEN }}",
            "github-token": "${{ secrets.GITHUB_TOKEN }}",
            "vercel-org-id": "${{ secrets.VERCEL_ORG_ID }}",
            "vercel-project-id": "${{ secrets.VERCEL_PROJECT_ID_SERVER }}",
            "alias-domains": "rino-server-{{BRANCH}}.ocavue.vercel.app",
            "vercel-args": "--prod --meta TYPE=PRODUCTION",
            "working-directory": "./packages/server/"
          }
        }
      ]
    }
  }
}
